body {
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
.row { max-width: 1650px; }
p{
	line-height : 1.5;
}
.tabs dd>a {
	padding : 0.5rem 1rem;
}
canvas {
	background-color : white;
}
div#temp_messages_on_top{
	position : fixed;
	z-index : 99;
	top : 0px;
	left : 35%;
	width : 30%;
	height : 45px;
}
.msg {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-weight: normal;
	padding-top : 0.875rem;
	padding-left : 1.5rem;
	padding-bottom : 0.875rem;
	padding-right : 0.875rem;
	font-size: 0.8125rem;
	transition: opacity 300ms ease-out;
	background-color: #43ac6a;
    border-color: #3a945b;
	color: white;
	border-radius: 3px;
}
.msg.alert {
	background-color: #f04124;
    border-color: #de2d0f;
}