body {
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
p{
	line-height : 1.5;
}
div.centered{
	width : 100%;
	text-align : center;
	display: table;
}
div.node{
	text-align : center;
	display:inline-block;
	display: table-cell;
}
.tabs dd>a {
	padding : 0.5rem 1rem;
}
.left-border{
	border-left : 1px solid black;
}
canvas {
	background-color : white;
    
}
div#error{
	color : red;
}
div#message{
    color : #1c94c4;
}
div.alert-box{
	
	
}